@import "tailwindcss";

/* Aurora background animation */
@keyframes aurora {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

.animate-aurora {
  animation: aurora 60s linear infinite;
}
